body {
    background-color: rgb(241, 240, 240);
    margin: 0px;
    height:100%;
    width: 100%;
}

hr {
    margin-left: 1vw;
    margin-right: 1vw;
}

h1 {
    width:fit-content;
    color: rgb(0, 0, 0);
} 

a {
    text-decoration: none;
    text-transform:none;
}

#head {
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
}