.start2 {
    height:auto;
    width:10vh;
    margin:10px;
}

.sup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#results{
    margin:7vh;
    display:flex;
    justify-content:flex-start;
}

#result{
    margin:5px;
    font-family: Alexandria;
    display:flex;
    flex-flow:wrap column;
    align-items: center;
}